         @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
        body{
        font-family: 'Questrial', sans-serif;
        }

       
       .navbar-nav a{
        color: white;
        margin: 10px;
       }
       .navbar-nav a:hover{
        background-color: black;
        color: white;
        margin: 10px;
       }
       h2{
        margin-top: 5%;
        margin-bottom: 5%;
        letter-spacing: 25px;
       }
   
       .card{
        border: none;
       }
       .card-title{
        font-size: 20px;
       }
       .card-img-top{
        transition: transform.1s;
       }
       .card-img-top:hover{
        transform: scale(1.1); 
       }
       .row a{
        text-decoration: none;
        color: black;
       }
       .row a:hover{
        background-color: black;
        color: white;
       }

       
       .footer{
        text-align: center;
        /* margin-top: 40px; */
        padding: 2%;
        
      }
      .footer a{
        font-size: 20px;
        color: white;
       margin-left: 30px;
      }
     
      .footer a:hover{
        background-color: rgb(3, 3, 3);
        color: white;
      }
     
      ul li a{
        text-decoration: none;
        color: white;
        margin-right: 15%;
       
      }
      ul li{
        list-style: none;
      }
      .list a{
        text-align: center;
        font-size: 20px;
       
      }



      