         @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
        body{
        font-family: 'Questrial', sans-serif;
        }
       nav{
        background: transparent;
        height: 12vh;
       }
       .navbar-nav a{
        color: white;
        margin: 10px;
       }
       h2{
        margin-top: 5%;
        margin-bottom: 5%;
        letter-spacing: 35px;
       }
       .card{
        border: none;
       }
       .card-title{
        font-size: 20px;
       }
       .card-img-top{
        transition: transform.1s;
       }
       .card-img-top:hover{
        transform: scale(1.1); 
       }
       .row a{
        text-decoration: none;
        color: black;
       }
       .row a:hover{
        background-color: black;
        color: white;
       }
       .footer{
        background-color:rgb(40, 39, 39);
        text-align: center;
        margin-top: 40px;
        padding: 2%;
        
     }
     .footer a{
        font-size: 25px;
        color: white;
       margin-left: 30px;
       padding: 5px;
     }
     
     .footer a:hover{
        background-color: red;
        color: white;
     }
     
      ul li a{
        list-style: none;
        text-decoration: none;
        color: white; 
       
     }
     ul li{
        display: inline-block;
        padding-left: 15px;
        
        
     }
     .list{
        text-align: center;
        margin-top: 5vh;
        margin-left: 30px;
        
     }
     
     .list a{
        font-size: 18px;
     }